<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Eclipse 3.4 + Mylyn 3.1.0">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.4.0.v20080603-2000-7o7tEAXEFpPqqoXxgaBhhhq"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.4"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.1.0.v20090315-1500-e3x"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.1.0.v20090315-1500-e3x"/>
<repository location="http://download.eclipse.org/tools/mylyn/update-archive/3.1.0/v20090315-1500/e3.4"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
</target>
